[submodule "LadderAMOEncoder"]
	path = LadderAMOEncoder
	url = https://github.com/TruongXuanHieu-H/LadderAMOEncoder
[submodule "LadderAMKEncoder"]
	path = LadderAMKEncoder
	url = https://github.com/TruongXuanHieu-H/LadderAMKEncoder
[submodule "SAT-for-Antibandwidth-Problem"]
	path = SAT-for-Antibandwidth-Problem
	url = https://github.com/TruongXuanHieu-H/SAT-for-Antibandwidth-Problem
[submodule "ABP-solver"]
	path = ABP-solver
	url = https://github.com/vanh28/ABP-solver
